.support-loomio-modal
  .modal-header
    %h1.lmo-h1.modal-title{translate: "loomio_buyer_experience.support_loomio_modal.heading", translate-value-group: "{{group.name}}"}

  .modal-body.support-loomio-modal__body
    .support-loomio-modal__upgrade.support-loomio-modal--container
      .support-loomio-modal__upgrade-content
        %h2.lmo-h2{translate: "loomio_buyer_experience.support_loomio_modal.upgrade_title"}
        %ul.support-loomio-modal__upgrade-items
          %li.support-loomio-modal__upgrade-item
            %i.fa.fa-globe>
            .support-loomio-modal__custom-domain
              %h3.lmo-bold{translate: "loomio_buyer_experience.support_loomio_modal.custom_domain"}
              %p{translate: "loomio_buyer_experience.support_loomio_modal.custom_domain_description"}
          %li.support-loomio-modal__upgrade-item
            %i.fa.fa-slack>
            .support-loomio-modal__slack-integration
              %h3.lmo-bold{translate: "loomio_buyer_experience.support_loomio_modal.slack_integration"}
              %p{translate: "loomio_buyer_experience.support_loomio_modal.slack_integration_description"}
          %li.support-loomio-modal__upgrade-item
            %i.fa.fa-money>
            .support-loomio-modal__no-more-modals
              %h3.lmo-bold{translate: "loomio_buyer_experience.support_loomio_modal.no_more_modals"}
        .support-loomio-model__find-out-more
          %a{ng-click: "upgrade()", target: "_blank", title: "{{ 'loomio_buyer_experience.support_loomio_modal.upgrade_button_title' | translate }}"}
            %span{translate: "loomio_buyer_experience.support_loomio_modal.find_out_more"}
      %a.support-loomio-modal__upgrade-button{ng-click: "upgrade()", type: "button", title: "{{ 'loomio_buyer_experience.support_loomio_modal.upgrade_button_title' | translate }}"}
        %span{translate: "loomio_buyer_experience.support_loomio_modal.upgrade"}
    .support-loomio-modal__donate.support-loomio-modal--container
      .support-loomio-modal__donate-content
        %h2.lmo-h2{translate: "loomio_buyer_experience.support_loomio_modal.donate_title"}
        %img.support-loomio-modal__donate-image{src: "/img/unctad.png", alt: "{{ 'loomio_buyer_experience.support_loomio_modal.donate_image_alt' | translate }}"}
        %label.support-loomio-modal__donate-caption{translate: "loomio_buyer_experience.support_loomio_modal.donate_caption"}
        %p{translate: "loomio_buyer_experience.support_loomio_modal.donate_text", translate-value-link: "http://blog.loomio.org/category/stories/"}
      %a.support-loomio-modal__donate-button{ng-click: "donate()", type: "button", title: "{{ 'loomio_buyer_experience.support_loomio_modal.donate_button_title' | translate }}"}
        %span{translate: "loomio_buyer_experience.support_loomio_modal.donate"}

  .modal-footer.lmo-clearfix.support-loomio-modal__footer
    .support-loomio-modal__lets-talk
      %img.choose_plan_modal__mhjbs-head{src: "/img/mhjb.png"}>
      %span
        %span{translate: "loomio_buyer_experience.support_loomio_modal.questions"}>
        %a{ng-click: "openIntercom()", target: "_blank"}>
          %span{translate: "loomio_buyer_experience.support_loomio_modal.lets_talk"}
    .support-loomio-modal__no-thanks
      %a{ng-click: "dismiss()", title: "{{ 'loomio_buyer_experience.support_loomio_modal.no_thanks' | translate }}"}
        %span{translate: "loomio_buyer_experience.support_loomio_modal.no_thanks"}>
        %i.fa.fa-times
